.title {
  color: red;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
}

body {
  margin: 0;
  background: radial-gradient(black, red);
}

.game-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  justify-content: center;

}
.game-details {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}
.details{
    font-size: 20px;
    color: red;
}

.card {
  position: relative;
  height: 175px;
  width: 125px;
}

.face-val {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 500ms ease-in-out;
}
.back {
   background-image:  url('../img/marvellogo4.jpg') ;
  border-color: red;
}

.front {
  background-color: red;
  border-color: #333;
  transform: rotateY(180deg);
}

.value {
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}

.card.visible .back {
  transform: rotateY(-180deg);
   
}

.card.matched .value {
  animation: dance 1s linear infinite 500ms;
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: red;

}

.overlay-small {
  font-size: .3em;
}

.overlay.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}